body {
    margin: 0px;
}

#root{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;  
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}